<html ng-app="custom-webapp-ui" lang="en" style="background-color: white">
  <head>
    <!-- Load the Telegram Library -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!-- Load the AngularJS Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
      .dot {
        height: 10px;
        width: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }

      .dot.active {
        background-color: #000000;
      }
    </style>
    <script>
      // Initialize the AngularJS stuff...
      angular.module("custom-webapp-ui", []).controller('CustomUIController', function CustomUIController($scope) {
        // Init our button options
        $scope.foods = [
          { name: "fruits", buttonValue: "Yes" },
          { name: "vegetables", buttonValue: "Yes" },
          { name: "meat", buttonValue: "Yes" },
          { name: "dairy", buttonValue: "Yes" }
        ];

        // Function to handle button option selection
        $scope.selectOption = function (food, option) {
          food.buttonValue = option;
        };

        // Initialize the button
        const mainButton = window.Telegram.WebApp.MainButton;
        mainButton.text = "Save Preferences";
        mainButton.enable();
        mainButton.show();

        // Make it send the "foods" object (as JSON string) back to the bot
        mainButton.onClick(function () {
          window.Telegram.WebApp.sendData(JSON.stringify($scope.foods));
        });
      });
    </script>
  </head>
  <body ng-controller="CustomUIController">
    <div ng-repeat="food in foods">
      <div style="width: 100px; display: inline-block">
        {{food.name}} :
      </div>
      <button ng-click="selectOption(food, 'Yes')" ng-class="{'active': food.buttonValue === 'Yes'}">
        <span class="dot" ng-class="{'active': food.buttonValue === 'Yes'}"></span>Yes
      </button>
      <button ng-click="selectOption(food, 'No')" ng-class="{'active': food.buttonValue === 'No'}">
        <span class="dot" ng-class="{'active': food.buttonValue === 'No'}"></span>No
      </button>
    </div>
  </body>
</html>
